.body-back {
    background-image : url('https://s3.amazonaws.com/thinkific-import-development/292401/background-210125-235634.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 300px;
    height: 300px;
    border: 2px solid;
    color: pink;
}